<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./styles.css">
  <title>YourOwnRoom</title>
</head>
<body>
  <div class="fullpage">
    <div class="page-content">
      <img id="logo-img" src="./mail_assets/logo.png" alt="logo"><br>
      <div class="center-text lg-block">
        <p class="no-margin-para">Our passion is Milennial living. </p>
        <p class="no-margin-para">Need a family or a co-living home?</p>        
      </div>
      <img id="illustration-image" src="./mail_assets/family.png" alt="family photo">
      <div class="center-text md-block">
        <p class="no-margin-para">Things might look different this year, but 
        you still need a Safe Bigger & Clean Accomodation <P>
      </div>
      <div class="center-block">
        <button class="link-button lg">
          Explore More
        </button>
        <button class="link-button md">
          Pune
        </button>
        <button class="link-button md">
          Banglore
        </button>
      </div>
      <hr color="red">
      <div class="grid-container">
        <div class="grid-item">
          <img class="property-image" src="./mail_assets/kharadi.jpg" alt="kharadi">
          <div class="center-text sm-block">
            <p class="no-margin-para">Kharadi</p>
          </div>
        </div>
        <div class="grid-item">
          <img class="property-image" src="./mail_assets/magarpatta.jpg" alt="magarpatta">
          <div class="center-text sm-block">
            <p class="no-margin-para">Magarpatta</p>
          </div>
        </div>
        <div class="grid-item">
          <img class="property-image" src="./mail_assets/vimannagar.jpg" alt="vimannagar">
          <div class="center-text sm-block">
            <p class="no-margin-para">Vimannagar</p>
          </div>
        </div>
        <div class="grid-item">
          <img class="property-image" src="./mail_assets/wakad.jpg" alt="wakad">
          <div class="center-text sm-block">
            <p class="no-margin-para">Wakad</p>
          </div>
        </div>
      </div>
      <hr color="red">
      <div class="center-block">
        <button class="link-button lg">
          Explore More
        </button>
      </div>
      <div class="bounding-box">
        <div class="center-text">
          <p class="no-margin-para" style="font-size: 1.5em; font-weight: bold;">How it works</p>
        </div>
        <div class="flex-container" style="justify-content: space-around;">
          <div>
            <img id="how-works" src="./mail_assets/howworks.png" alt="how">
          </div>
        </div>
      </div>
      <hr color="red">
      <div class="flex-container" style="justify-content: space-between; margin-top: 15px; flex-direction: row;">
        <div class="flex-container-bottom" style="flex-direction: column;">
          <div class="center-text">
            Download the App
          </div>
          <div class="flex-container-bottom">
            <div style="width: 10vw; margin: auto 0;">
              <img id="app-link-image" src="./mail_assets/googleapp.png" alt="google play store">
            </div>
            <div style="width: 10vw; margin: auto 0;">
              <img id="app-link-image" src="./mail_assets/iosapp.png" alt="apple app store">
            </div>
          </div>
        </div>
        <div class="flex-container-bottom">
          <div style="width: 10vw; margin: auto 0;">
            <img id="social-logo" src="./mail_assets/instagram.png" alt="google play store">
          </div>
          <div style="width: 10vw; margin: auto 0;">
            <img id="social-logo" src="./mail_assets/twitter.png" alt="google play store">
          </div>
          <div style="width: 10vw; margin: auto 0;">
            <img id="social-logo" src="./mail_assets/facebook.png" alt="google play store">
          </div>
        </div>
      </div>
      <img src="{{context.image_url}}" height="0px" width="0px"/>
    </div>
  </div>
</body>
</html>