<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="margin: 0; font-family: sans-serif;">
  <div style="padding: 10% 10%; background-color: #e2dcdc;">
    <div style="background-color: white;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center" style="padding: 5% 0 10px 0;">
            <img src="https://user-images.githubusercontent.com/35267629/100467281-34c0b800-30f8-11eb-88c0-0a6af206fadc.png" bgcolor="#70bbd9" alt="YourOwnRoom logo" width="40%" style="display: block;" />
          </td>        
        </tr>
        <tr>
          <td align="center" style="padding: 10px 22px;">
            <img src="https://user-images.githubusercontent.com/35267629/100698405-5a7ee300-33be-11eb-98b1-2bee3269fd96.png" bgcolor="#70bbd9" alt="House 1" width="100%" style="display: block;" />
          </td>
        </tr>
        <tr>
          <td align="center" >
            <img src="https://user-images.githubusercontent.com/35267629/100467284-35594e80-30f8-11eb-9bd3-99181aa50238.png" bgcolor="#70bbd9" alt="Logo decorated" width="40%" style="display: block;" />
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 10px 20% 0 0;">
            <img src="https://user-images.githubusercontent.com/35267629/100698400-58b51f80-33be-11eb-8590-1dcb6a3f3234.png" bgcolor="#70bbd9" alt="House text 1" width="130%" style="display: block;" />
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 0 0 0 6%;">
            <div style="background-color: #0ea0d4; width: 64.40%; height: 20%;" >
              <a href="{{ context.link }}">
                <img src="https://user-images.githubusercontent.com/35267629/100467156-017e2900-30f8-11eb-8dfd-eb0e2407913c.png" bgcolor="#70bbd9" alt="Book now" width="40%" style="display: block;" />
              </a>
            </div>            
          </td>
        </tr>
        <tr>
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="width: 30%;">
                  <img src="https://user-images.githubusercontent.com/35267629/100467266-2ecad700-30f8-11eb-8c12-70636a783138.png" alt="Google app" width="55vw" style="display: block;" />
                  <img src="https://user-images.githubusercontent.com/35267629/100467275-338f8b00-30f8-11eb-9bae-3527e77250ac.png" alt="Google app" width="52vw" style="display: block; margin-left: 1%;" />
                </td>                        
                <td style="width: 60%; padding-right: 10%;" align="center">
                  yourownroom.com
                </td>
                <td>
                  <img src="https://user-images.githubusercontent.com/35267629/100467287-37231200-30f8-11eb-8d17-bb49102fbae0.png" alt="Google app" width="15vw" style="display: block;" />
                </td>
                <td>
                  <img src="https://user-images.githubusercontent.com/35267629/100467208-19ee4380-30f8-11eb-98f6-bcae1904ebb1.png" alt="Google app" width="15vw" style="display: block;" />
                </td>
                <td>
                  <img src="https://user-images.githubusercontent.com/35267629/100467272-32f6f480-30f8-11eb-8e3d-5bf562e1a43b.png" alt="Google app" width="15vw" style="display: block;" />
                </td>
              </tr>
            </table>            
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>