<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a new Campaign</title>
  </head>

  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'marketingemails:audience_select' %}" method="post">
        {% csrf_token %}        
        <br>
        <label for='campaign_name'>Campaign name:</label><br>
        <input type="text" id="campaign_name" name="campaign_name"><br>
        
        <br><br>
        <label for='campaign_desc'>Campaign description:</label><br>
        <textarea name="campaign_desc" style="width:600px; height:300px;" 
        placeholder="A short description on what the campaign is for"></textarea><br>    

        <br><br>
        <label for='auto_campaigns_count'>Automatic subsequent campaigns :</label><br>
        <select name="auto_campaigns_count">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
        </select>
        
        <br><br><br>Save campaign and move to audience select<br>
        <input type="submit" value="Save campaign">  
      </form>        
  </body>
</html>