<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Audience View</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>

  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <br>
      <h2> Select audience for {{ campaign.name }}  </h2>
      <form action="{% url 'marketingtexts:smssent' %}" method="post">
        {% csrf_token %}
        <h4>Send campaigns based on user index - </h4>
        This campaign will be sent out to users from the start index number to end index number (both inclusive)
        <br><br>
        <label for='start_idx'>Start index:</label><br>
        <input type="number" id="start_idx" name="start_idx" min="1"><br>
        <label for='last_idx'>Last index:</label><br>
        <input type="number" id="last_idx" name="last_idx" min="1"><br>
        Total eligible users present in database = <b>{{ valid_users }}</b>
        <br>
        Please use proper last index number within this bound to avoid errors.

        <br><br>
        <h4>Send campaigns to every eligible user in the database - </h4>
        <input type="checkbox" id="select_all_users" name="select_all_users" value="1">
        <label for="select_all_users">Send to every user </label>
        <br><br>

        <h4>Send campaigns to individual users - </h4>
        <table>
          <tr>
            <th>Selected</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Location</th>
          </tr>
          {% for user in users %}
              <tr>
                <td>
                  <input type="checkbox" id="choice{{ forloop.counter }}" name="user_selected" value="{{ user.id }}">
                  <label for="choice{{ forloop.counter }}"></label>
                </td>
                <td>{{ user.name }}</td> 
                <td>{{ user.phone_number }}</td>
                <td>{{ user.location_of_interest }}</td>
              </tr>
          {% endfor %}
        </table>
        <br>
        <input type="submit" value="Start Campaign">
      </form>        
  </body>
</html>